body {
    font-family: Arial, sans-serif;
    text-align: center;   
}

h1 {
    color: #333;
}

/* Style for the maze container */
#maze-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Style for the table */
.maze-table {
    border-collapse: collapse;
}

/* Style for table rows */
.maze-table tr {
    height: 15px;
}

/* Style for table cells */
.maze-table td {
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

/* Style for walls in the maze */
.maze-table td.wall {
    background-color: #000;
}

/* styling for pathways */
.maze-table td.path {
    background-color: #fff
}

/* styling for solution */
.maze-table td.solution {
    background-color: #1AA7EC
}