<!DOCTYPE html>
<html>
<head>
    <title>Maze Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Maze Generator</h1>
    <form id="maze-form">
        <!-- Width Slider -->
        <label for="width-slider">Maze Width: <span id="width-value">25</span></label>
        <input type="range" id="width-slider" name="width" min="25" max="55" value="25" step="2"><br><br>

        <!-- Height Slider -->
        <label for="height-slider">Maze Height: <span id="height-value">25</span></label>
        <input type="range" id="height-slider" name="height" min="25" max="55" value="25" step="2"><br><br>
        
        <div class="selector-container">
            <form id="algorithmForm">
                <label for="algorithmSelect">Algorithm:</label>
                <select id="algorithmSelect" name="algorithm">
                    <option value="dfs">Depth-First Search</option>
                    <option value="bfs">Breadth-First Search</option>
                    <option value="astar">A* Heauristics</option>
                </select>
            </form>
        </div>

        <!-- Generate button -->
        <button id="generate-button">Generate Maze</button>

        <!-- Clear button -->
        <button id="clear-button">Clear Maze</button>

        <!-- Solve button -->
        <button id="solve-button">Solve Maze</button>

        <!-- Checkbox for displaying steps -->
        <label id="step-button">Show Steps<input type="checkbox" id="showStepsCheckbox"></label>

        <div class="solution-container">
            <label for="solution-length">Solution length: <span id="solution-length-value">0</span></label>
            <label for="cells-visited">Cells visited: <span id="cells-visited-value">0</span></label>
            <label for="execution-time">Execution time: <span id="execution-time-value">0s</span></label>
        </div>
    </form>
    <div id="maze-container">
        <!-- Maze will be rendered here -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>